<!doctype html>

<html lang="en">

    <head>
        <meta charset="utf-8"> 
        <title>Happy Birthday ❤️</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body class="center">
        <h1>Happy Birthday!</h1>
        <p>This is the start of your surprise!</p>

        <!--<a class="btn" href="/letter">Open your letter</a>-->

        <p style="margin-top: 40px;">
            <a class="btn big" href="/pigeon">Send the pigeon🕊️</a>
        </p>
    </body>
    </html>
    <!--<p style="margin-top: 20px;">
        <a class="btn big" href="/pigeon">Send the pigeon 🕊️</a>
    </p>-->