<!doctype html>
<htmal lang="en">
    <head>
        <meta charset="UTF-8"> 
        <title>Your Letter💌</title>
        <!--CSS-->
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body class="center">
        <div class="card">
        <h1>Do mo bhuachaill Éireannach</h1>

        <div class="letter">
            Dear James,<br><br>

            Happy Birthday! I made this website because a normal gift just wasn't enough haha.
            Thank you for being so kind, unique, and for always making me smile.
            I love your little ways, your quirks ( seus tiques ) and all your special/random habits!!!

            Tá grá agam duit.❤️
        </div> Your Gift Cards🎁</h2>

        <a href="/secret?code=DINNER01" class="gift-card">
            <h3>🍽️ Birthday Dinner Gift Card</h3>
            <p>Valid for: one dinner date</p>
            <span class="code">Code: DINNER01</span>
        </a>

        <a href="/secret?code=COFFEE02" class="gift-card">
            <h3>☕️ Coffee and a sweet treat Gift Card</h3>
            <p>Valid for: one year ahahah</p>
            <span class="code">Code: COFFEE02</span>
        </a>

        <a class="btn" href="/">Back to home</a>
        </div>
    </body>
    </html>